{% extends 'base.html' %}
{% block body %}
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url(&quot;/static/assets/img/Group%207265.svg&quot;) center / cover no-repeat;"></div>
                <div class="swiper-slide" style="background: url(&quot;/static/assets/img/Group%207265%20(1).svg&quot;) center / cover no-repeat;"></div>
                <div class="swiper-slide" style="background: url(&quot;/static/assets/img/Group%207265%20(2).svg&quot;) center / cover no-repeat;"></div>
                <div class="swiper-slide" style="background: url(&quot;/static/assets/img/Group%207265%20(3).svg&quot;) center / cover no-repeat;"></div>
                <div class="swiper-slide" style="background: url(&quot;/static/assets/img/Group%207265%20(4).svg&quot;) center / cover no-repeat;"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <section><img class="img-fluid" src="assets/img/Vector%2025%20(1).svg"></section>
    {% endblock body %}