{% extends 'base.html' %}
{% block body %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-weight: bold;font-size: 28.88px;">Doctors and Consultants Available</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for c in consultant  %}
            <div class="col-md-4">
                <div class="card text-center d-lg-flex flex-column align-self-center justify-content-lg-center align-items-lg-end"><img class="card-img w-100 d-block" src="/static/assets/img/Group%207256%20(1).svg">
                    <div class="card-img-overlay d-lg-flex flex-column align-items-center align-content-center align-self-center justify-content-lg-end align-items-lg-center" data-bss-hover-animate="flash">
                        <a href = "/auth/doctors/{{c.pk}}"><h4 class="d-block" style="color: rgb(255,255,255);">{{c.name}}<br></h4></a>
                        <p class="d-block" style="color: rgb(255,255,255);">{{c.qualification}}<br></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div><br>
</div><img class="img-fluid" src="/static/assets/img/Vector%2025%20(1).svg">
</section>
<br>
{% endblock body %}

