{% extends 'base.html' %}
{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/inpok4MKVLM" width="621" height="337" style="text-align: center;border-width: 1px;border-style: solid;border-radius: 8px;"></iframe></div>
            </div>
        </div>
    </section>
    <section><img class="img-fluid" src="assets/img/Vector%2025%20(1).svg"></section>
    {% endblock body %}